{% extends "base.html" %}
{% load static %}

{% block title %}Laboratorio ML{% endblock %}

{% block header %}
  <h1>🧪 Laboratorio de Machine Learning</h1>
  <p class="muted">Selecciona un Dataset y un Algoritmo para entrenarlo en tiempo real.</p>
{% endblock %}

{% block content %}
<div class="control-panel">
    <form id="form-laboratorio" method="GET" action="{% url 'reporte' %}">
        <div class="form-group-flex">
            <label>1. Elige los Datos:</label>
            <select name="dataset_id" class="form-control">
                <option value="">-- Seleccionar --</option>
                {% for ds in datasets_list %}
                    <option value="{{ ds.id }}" {% if sel_ds_id == ds.id %}selected{% endif %}>
                        📊 {{ ds.nombre }} ({{ ds.tipo_tarea }})
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group-flex">
            <label>2. Elige el Algoritmo:</label>
            <select name="algo_id" class="form-control">
                <option value="">-- Seleccionar --</option>
                {% for algo in models_list %}
                    <option value="{{ algo.id }}" {% if sel_algo_id == algo.id %}selected{% endif %}>
                        🤖 {{ algo.nombre }} [{{ algo.tipo_tarea }}]
                    </option>
                {% endfor %}
            </select>
        </div>
        <button id="btn-ejecutar" type="submit" class="btn btn-execute">
            ⚡ Ejecutar
        </button>
    </form>
</div>

<div id="resultado-container">
    {% include 'reporte_resultado.html' %}
</div>
{% endblock %}